 ## Schedule Class
   The Schedule object is necessary in creating coupon schedules or call schedules. Schedule object
constructors have the following signature:

In [4]:
from datetime import date
from dateutil.relativedelta import relativedelta

def schedule(effective_date, termination_date, tenor, calendar, convention, termination_date_convention, rule, end_of_month, first_date=None, next_to_last_date=None):
    # Your logic to generate schedule goes here
    pass

# Example usage
effective_date = date(2023, 1, 1)
termination_date = date(2024, 1, 1)
tenor = relativedelta(months=1)  # Example: monthly tenor
calendar = None  # Placeholder for calendar logic
convention = None  # Placeholder for business day convention logic
termination_date_convention = None  # Placeholder
rule = None  # Placeholder for date generation rule logic
end_of_month = False

schedule(effective_date, termination_date, tenor, calendar, convention, termination_date_convention, rule, end_of_month)

In [8]:
import pandas as pd
from QuantLib import *

# Setting up the schedule
effective_date = Date(1, 1, 2015)
termination_date = Date(1, 1, 2016)
tenor = Period(Monthly)
calendar = UnitedStates(UnitedStates.NYSE)  # Use the correct market directly
business_convention = Following
termination_business_convention = Following
date_generation = DateGeneration.Forward
end_of_month = False

schedule = Schedule(
    effective_date,
    termination_date,
    tenor,
    calendar,
    business_convention,
    termination_business_convention,
    date_generation,
    end_of_month
)

# Creating a DataFrame to display the schedule
schedule_dates = [date.ISO() for date in schedule]
df = pd.DataFrame({'date': schedule_dates})
print(df)

          date
0   2015-01-02
1   2015-02-02
2   2015-03-02
3   2015-04-01
4   2015-05-01
5   2015-06-01
6   2015-07-01
7   2015-08-03
8   2015-09-01
9   2015-10-01
10  2015-11-02
11  2015-12-01
12  2016-01-04

## Here we have generated a Schedule object that will contain dates between effective_date and
termination_date with the tenor specifying the Period to be Monthly. The calendar object is
used for determining holidays. Here we have chosen the convention to be the day following holidays.
That is why we see that holidays are excluded in the list of dates.
    
The Schedule class can handle generation of dates with irregularity in schedule. The two extra
parameters firstDate and nextToLastDate parameters along with a combination of forward or
backward date generation rule can be used to generate short or long stub payments at the front
or back end of the schedule. For example, the following combination of firstDate and backward
generation rule creates a short stub in the front on the January 15, 2015

In [9]:
# short stub in the front
effective_date = Date(1, 1, 2015)
termination_date = Date(1, 1, 2016)
first_date = Date(15, 1, 2015)
schedule = Schedule(effective_date,
termination_date,
tenor,
calendar,
business_convention,
termination_business_convention,
DateGeneration.Backward,
end_of_month,
first_date)
pd.DataFrame({'date': list(schedule)})

                   date
0     January 2nd, 2015
1    January 15th, 2015
2    February 2nd, 2015
3       March 2nd, 2015
4       April 1st, 2015
5         May 1st, 2015
6        June 1st, 2015
7        July 1st, 2015
8      August 3rd, 2015
9   September 1st, 2015
10    October 1st, 2015
11   November 2nd, 2015
12   December 1st, 2015
13    January 4th, 2016

In [10]:
# long stub in the front
first_date = Date(1, 2, 2015)
effective_date = Date(15, 12, 2014)
termination_date = Date(1, 1, 2016)
schedule = Schedule(effective_date,
termination_date,
tenor,
calendar,
business_convention,
termination_business_convention,
DateGeneration.Backward,
end_of_month,
first_date)
pd.DataFrame({'date': list(schedule)})

                   date
0   December 15th, 2014
1    February 2nd, 2015
2       March 2nd, 2015
3       April 1st, 2015
4         May 1st, 2015
5        June 1st, 2015
6        July 1st, 2015
7      August 3rd, 2015
8   September 1st, 2015
9     October 1st, 2015
10   November 2nd, 2015
11   December 1st, 2015
12    January 4th, 2016

In [11]:
# long stub at the back
effective_date = Date(1, 1, 2015)
penultimate_date = Date(1, 12, 2015)
termination_date = Date(15, 1, 2016)
schedule = Schedule(effective_date,
termination_date,
tenor,
calendar,
business_convention,
termination_business_convention,
DateGeneration.Forward,
end_of_month,
Date(),
penultimate_date)
pd.DataFrame({'date': list(schedule)})

                   date
0     January 2nd, 2015
1    February 2nd, 2015
2       March 2nd, 2015
3       April 1st, 2015
4         May 1st, 2015
5        June 1st, 2015
6        July 1st, 2015
7      August 3rd, 2015
8   September 1st, 2015
9     October 1st, 2015
10   November 2nd, 2015
11   December 1st, 2015
12   January 15th, 2016

In [12]:
 dates = [Date(2,1,2015), Date(2, 2,2015),
Date(2,3,2015), Date(1,4,2015),
Date(1,5,2015), Date(1,6,2015),
Date(1,7,2015), Date(3,8,2015),
Date(1,9,2015), Date(1,10,2015),
Date(2,11,2015), Date(1,12,2015),
Date(4,1,2016)]
rolling_convention = Following
schedule = Schedule(dates, calendar,
rolling_convention)
pd.DataFrame({'date': list(schedule)})

                   date
0     January 2nd, 2015
1    February 2nd, 2015
2       March 2nd, 2015
3       April 1st, 2015
4         May 1st, 2015
5        June 1st, 2015
6        July 1st, 2015
7      August 3rd, 2015
8   September 1st, 2015
9     October 1st, 2015
10   November 2nd, 2015
11   December 1st, 2015
12    January 4th, 2016